<header id="top-header" role="banner">
  <span class="siteName">
    <a href="/" title="Return to home page" aria-label="CSE Motors homepage"
      >CSE Motors</a
    >
  </span>
  <div id="tools" role="navigation" aria-label="User account tools">
    <a
      title="Click to log in"
      href="/account/login"
      aria-label="Access my account login page"
      >My Account</a
    >
  </div>
</header>
